
@media (min-width: 20rem) {

}

@media (min-width: 30rem) {

}

@media (min-width: 48rem) {

  .intro {
    margin-bottom: 2.5em;
  }

  a.alert {
    width: 60%;
    left: 40%;
    margin-bottom: 8em;
  }


  .site_footer_box {
    flex-flow: nowrap;
  }

  .about_us, .main_links, .follow_us {
    max-width: 33.3%;
    flex: 0 0 33.3%;
  }

  .useful_links {
    margin-right: calc(-1em - 100%);
  }

  .site_footer .brand {
    right: 0;
    left: calc(3em + 20px + .5em);
  }

}

@media (min-width: 62rem) {

  .navbar_box {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      background-color: rgba(0,0,0,.2);
      justify-content: space-around;
  }

  .navbar_nav {
    margin-right: auto;
  }

  .main_nav_links {
    width: auto;
  }

  .main_nav_links {
      display: flex;
      flex-basis: auto;
      position: relative;
      align-self: stretch;
      z-index: 1;
      flex-grow: 1;
      align-items: center;
  }

  .register {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }

  .navbar_nav .sub_menu ul {
    flex: 0 0 30em;
    width: 30em;
    max-width: 30em;
  }

  .navbar_nav > ul, .socials, .socials > ul, .register > ul {
    margin: 0;
  }

  .lang, .mobile, .register_btn {
    margin-bottom: 0;
  }


  .main_content {
    flex: 0 0 66.67%;
    max-width: 66.67%;
  }

  .page_title {
    border-right: 12.5rem solid var(--black);
    text-align: left;
  }
  
  .main_sidebar {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
}

@media (min-width: 75rem) {

  .single_entry_listing, .listings_img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
  }

  .single_entry_listing {
    flex: 0 0 58.3%;
    max-width: 58.3%;
    height: 320px;

  }

  .single_list:nth-child(even) .single_entry_listing {
    right: auto;
    left: 0;
    text-align: right;
  }

  .listings_img {
    right: auto;
    left: 35px;
    padding: 0;
    margin-bottom: 0;
  }

  .single_list:nth-child(even) .listings_img {
    left: auto;
    right: 35px;
  }

  .single_list {
    flex-flow: row nowrap;
    height: 300px;
    margin-bottom: 12em;
  }

  .single_entry_listing .content {
    padding: 1em;
  }

  .single_list .title {
    margin: 0 -15px .5em;
    padding: 5px 5px 5px 15px;
  }

  .single_list:nth-child(even) .single_entry_listing .title {
    padding: 5px 15px 5px 5px;
    margin: 0 -15px .5em;
  }
  
  .meta {
    position: absolute;
    bottom: -4em;
  }

  .single_entry_listing .view_more, .single_entry_listing .price {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: auto;
    margin:0;
  }

  .single_list:nth-child(even) .view_more {
    left: auto;
    right: 0;
  }

  .single_list:nth-child(even) .price {
    left: 0;
    right: auto;
  }

  .single_entry_listing .price {
    left: auto;
    right: 0;
  }



}

/* 
@media (max-width: 768px){
  .main_sidebar, .main_content, .gallery, .comprehensive_details, .related_stays {
    flex-basis: 100%;
    width: 100%;
    max-width: none;
  }

  .related_stays_collection {
    flex-wrap: wrap;
  }

  .related_stays_collection li {
    flex-basis: 100%;
    text-align: center;
  }
  
  .site_footer_box {
    flex-wrap: wrap;
  }

  .site_footer_box > * {
    flex-basis: 100%;
    max-width: none;
  }

  .useful_links {
    margin-right: 0;
  }

  .site_footer .brand {
    left: auto;
    right: calc(3em + 20px + .5em);;
  }

}

 */